<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Final Project - Programming for Data Science
    <div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
    @ FIT-HCMUS, VNU-HCM üìå
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Preprocessing
</div>

In [1]:
import numpy as np
import pandas as pd

In [2]:
sales_df=pd.read_csv('./../data/Auto Sales data.csv',delimiter=",")
sales_df.sample(n=5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,DAYS_SINCE_LASTORDER,STATUS,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
2488,10131,40,110.69,1,4427.60,16/06/2018,3204,Shipped,Planes,99,S700_2466,Gift Ideas Corp.,2035554407,2440 Pompton St.,Glendale,97561,USA,Lewis,Dan,Medium
665,10303,46,49.04,2,2255.84,06/10/2019,904,Shipped,Vintage Cars,60,S18_2248,"Iberia Gift Imports, Corp.",(95) 555 82 82,"C/ Romero, 33",Sevilla,41101,Spain,Roel,Jose Pedro,Small
2549,10217,31,88.00,6,2728.00,04/02/2019,3032,Shipped,Classic Cars,101,S700_2824,Handji Gifts& Co,+65 224 1555,Village Close - 106 Linden Road Sandown,Singapore,69045,Singapore,Victorino,Wendy,Small
2357,10383,38,60.06,10,2282.28,22/02/2020,2457,Shipped,Trains,58,S50_1514,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,Spain,Freyre,Diego,Small
2617,10118,36,117.20,1,4219.20,21/04/2018,3389,Shipped,Ships,100,S700_3505,Enaco Distributors,(93) 203 4555,"Rambla de Catalu¬§a, 23",Barcelona,8022,Spain,Saavedra,Eduardo,Medium

In [3]:
n_rows=sales_df.shape[0]
n_cols=sales_df.shape[1]
n_rows, n_cols

(2747, 20)

Gi√° tr·ªã c·ªßa m·ªói c·ªôt:
- `ORDERNUMBER`: ƒê·ªãnh danh duy nh·∫•t c·ªßa m·ªói ƒë∆°n h√†ng.
- `QUANTITYORDERED`: S·ªë l∆∞·ª£ng s·∫£n ph·∫©m ƒë∆∞·ª£c ƒë·∫∑t cho m·ªói ƒë∆°n h√†ng.
- `PRICEEACH`: Gi√° c·ªßa m·ªói ƒë∆°n v·ªã s·∫£n ph·∫©m.
- `ORDERLINENUMBER`: S·ªë d√≤ng c·ªßa s·∫£n ph·∫©m trong ƒë∆°n h√†ng.
- `SALES`: T·ªïng gi√° tr·ªã b√°n h√†ng cho s·∫£n ph·∫©m trong ƒë∆°n h√†ng c·ª• th·ªÉ (t√≠nh b·∫≥ng QUANTITYORDERED * PRICEEACH).
- `ORDERDATE`: Ng√†y ƒë·∫∑t h√†ng.
- `DAYS_SINCE_LASTORDER`: S·ªë ng√†y k·ªÉ t·ª´ ƒë∆°n h√†ng tr∆∞·ªõc ƒë√≥.
- `STATUS`: Tr·∫°ng th√°i c·ªßa ƒë∆°n h√†ng (e.g., Shipped, Cancelled).
- `PRODUCTLINE`: Lo·∫°i, danh m·ª•c c·ªßa s·∫£n ph·∫©m.
- `MSRP`: Gi√° b√°n l·∫ª khuy·∫øn ngh·ªã c·ªßa s·∫£n ph·∫©m.
- `PRODUCTCODE`: M√£ s·∫£n ph·∫©m.
- `CUSTOMERNAME`: T√™n kh√°ch h√†ng ƒë·∫∑t ƒë∆°n.
- `PHONE`: S·ªë ƒëi·ªán tho·∫°i kh√°ch h√†ng.
- `ADDRESSLINE1`: D√≤ng ƒë·ªãa ch·ªâ ƒë·∫ßu ti√™n c·ªßa kh√°ch h√†ng.
- `CITY`: Th√†nh ph·ªë n∆°i kh√°ch h√†ng ·ªü.
- `POSTALCODE`: M√£ b∆∞u ƒëi·ªán c·ªßa ƒë·ªãa ch·ªâ kh√°ch h√†ng.
- `COUNTRY`: Qu·ªëc gia n∆°i kh√°ch h√†ng ·ªü.
- `CONTACTLASTNAME`: H·ªç c·ªßa ng∆∞·ªùi li√™n h·ªá cho ƒë∆°n h√†ng.
- `CONTACTFIRSTNAME`: T√™n c·ªßa ng∆∞·ªùi li√™n h·ªá cho ƒë∆°n h√†ng.
- `DEALSIZE`: K√≠ch th∆∞·ªõc c·ªßa giao d·ªãch (e.g., Small, Medium).

Gi√° tr·ªã c·ªßa m·ªói h√†ng: M·ªói h√†ng th·ªÉ hi·ªán ƒë·∫°i di·ªán cho 1 ƒë∆°n h√†ng c·ª• th·ªÉ v·ªõi chi ti·∫øt v·ªÅ s·∫£n ph·∫©m, kh√°ch h√†ng, v√† th√¥ng tin ƒë∆°n h√†ng

Sau khi t√¨m ra gi√° tr·ªã c·ªßa c√°c c·ªôt, c√°c h√†ng trong d·ªØ li·ªáu, ta ki·ªÉm tra xem c√≥ h√†ng n√†o tr√πng l·∫∑p kh√¥ng

In [4]:
duplicated_rows = sales_df[sales_df.duplicated()]
len(duplicated_rows)

0

V·∫≠y l√† kh√¥ng c√≥ h√†ng n√†o b·ªã tr√πng. Ti·∫øp ƒë√≥, chung ta s·∫Ω ki·ªÉm tra t·ªâ l·ªá thi·∫øu h·ª•t c·ªßa c√°c c·ªôt trong d·ªØ li·ªáu.

In [5]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORDERNUMBER           2747 non-null   int64
 1   QUANTITYORDERED       2747 non-null   int64
 2   PRICEEACH             2747 non-null   float64
 3   ORDERLINENUMBER       2747 non-null   int64
 4   SALES                 2747 non-null   float64
 5   ORDERDATE             2747 non-null   object
 6   DAYS_SINCE_LASTORDER  2747 non-null   int64
 7   STATUS                2747 non-null   object
 8   PRODUCTLINE           2747 non-null   object
 9   MSRP                  2747 non-null   int64
 10  PRODUCTCODE           2747 non-null   object
 11  CUSTOMERNAME          2747 non-null   object
 12  PHONE                 2747 non-null   object
 13  ADDRESSLINE1          2747 non-null   object
 14  CITY                  2747 non-null   object
 15  POSTALCODE            2747 non-null   object
 16  COUNTRY               2747 non-null   object
 17  CONTACTLASTNAME       2747 non-null   object
 18  CONTACTFIRSTNAME      2747 non-null   object
 19  DEALSIZE              2747 non-null   object
dtypes: float64(2), int64(5), object(13)
memory usage: 429.3+ KB

In [6]:
missing_values = sales_df.isnull().sum()

# Calculate missing ratio for each column
missing_ratio = (missing_values / len(sales_df)) * 100
missing_ratio

ORDERNUMBER             0.0
QUANTITYORDERED         0.0
PRICEEACH               0.0
ORDERLINENUMBER         0.0
SALES                   0.0
ORDERDATE               0.0
DAYS_SINCE_LASTORDER    0.0
STATUS                  0.0
PRODUCTLINE             0.0
MSRP                    0.0
PRODUCTCODE             0.0
CUSTOMERNAME            0.0
PHONE                   0.0
ADDRESSLINE1            0.0
CITY                    0.0
POSTALCODE              0.0
COUNTRY                 0.0
CONTACTLASTNAME         0.0
CONTACTFIRSTNAME        0.0
DEALSIZE                0.0
dtype: float64

T·ª´ vi·ªác quan s√°t v√† t√≠nh to√°n, ta nh·∫≠n th·∫•y kh√¥ng c√≥ c·ªôt n√†o c√≥ d·ªØ li·ªáu bi thi·∫øu

Ki·ªÉm tra n·∫øu c√≥ c·ªôt n√†o c√≥ c√πng gi√° tr·ªã trong t·∫•t c·∫£ c√°c √¥ v√† b·ªè ƒëi c·ªôt ƒë√≥

In [7]:
for column in sales_df.columns:
    if sales_df[column].nunique() == 1:
        print("Are all values in '{}' the same".format(column))
        sales_df=sales_df.drop(column,axis=1)

Ta c√≥ th·ªÉ th·∫•y r·∫±ng kh√¥ng c√≥ c·ªôt n√†o c·∫ßn ph·∫£i b·ªè

Ta c√≥ th·ªÉ th·∫•y r·∫±ng t√™n c·ªôt ƒë·ªÅu ƒë∆∞·ª£c vi·∫øt hoa v√† vi·∫øt li·ªÅn, ƒëi·ªÅu m√† c√≥ th·ªÉ g√¢y ·∫£nh h∆∞·ªüng t·ªõi kh·∫£ nƒÉng ƒë·ªçc, v√¨ v·∫≠y ch√∫ng ta s·∫Ω vi·∫øt l·∫°i t√™n cho c√°c c·ªôt

In [8]:
def lower_case(dataframe):
    dataframe.columns = dataframe.columns.map(lambda x: x.lower())  
lower_case(sales_df)
sales_df.rename(columns= {'ordernumber': 'order_number','quantityordered': 'quantity_ordered','priceeach':'price_per_unit','orderlinenumber':'orderline_number',
'orderdate':'order_date','customername':'customer_name','contactlastname':'last_name','contactfirstname':'first_name','msrp':'retail_price','dealsize':'deal_size','addressline1':'address','productcode':'product_code'},inplace=True)
sales_df.columns

Index(['order_number', 'quantity_ordered', 'price_per_unit',
       'orderline_number', 'sales', 'order_date', 'days_since_lastorder',
       'status', 'productline', 'retail_price', 'product_code',
       'customer_name', 'phone', 'address', 'city', 'postalcode', 'country',
       'last_name', 'first_name', 'deal_size'],
      dtype='object')

## CATEGORICAL COLUMNS

Chuy·ªÉn ƒë·ªïi c·ªôt `order_date` th√†nh d·∫°ng datetime

In [9]:
#convert the data type of the orderdate
sales_df["order_date"] = pd.to_datetime(sales_df["order_date"],dayfirst = True)

M·ªôt gi√° tr·ªã trong c·ªôt `order_number` l√† id c·ªßa ƒë∆°n h√†ng c·ª• th·ªÉ, v√¨ v·∫≠y, ta s·∫Ω chuy·ªÉn n√≥ th√†nh d·∫°ng object

In [10]:
sales_df['order_number'] = sales_df['order_number'].astype('object')

In [11]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_number          2747 non-null   object
 1   quantity_ordered      2747 non-null   int64
 2   price_per_unit        2747 non-null   float64
 3   orderline_number      2747 non-null   int64
 4   sales                 2747 non-null   float64
 5   order_date            2747 non-null   datetime64[ns]
 6   days_since_lastorder  2747 non-null   int64
 7   status                2747 non-null   object
 8   productline           2747 non-null   object
 9   retail_price          2747 non-null   int64
 10  product_code          2747 non-null   object
 11  customer_name         2747 non-null   object
 12  phone                 2747 non-null   object
 13  address               2747 non-null   object
 14  city                  2747 non-null   object
 15  postalcode            2747 non-null   object
 16  country               2747 non-null   object
 17  last_name             2747 non-null   object
 18  first_name            2747 non-null   object
 19  deal_size             2747 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(4), object(13)
memory usage: 429.3+ KB

Sau khi ho√†n th√†nh vi·ªác chuy·ªÉn ƒë·ªïi, ta ƒë·∫øm c√°c gi√° tr·ªã xu·∫•t hi·ªán trong c√°c c·ªôt d·ªØ li·ªáu d·∫°ng categorical

In [12]:
columns_to_count=['order_number', 'status','productline','product_code','customer_name','phone','address','city','country','last_name','first_name','deal_size']
df=sales_df[columns_to_count]
cate_profile={}
def valuecount(col):
    # Count the occurrences of each attribute in the column
    unique_attributes = df[col.name].value_counts().to_dict()
    cate_profile[col.name]= {"num_diff_vals": len(unique_attributes), "distribution": unique_attributes}
df.agg(valuecount)
cate_profile=pd.DataFrame(data=cate_profile,index=["num_diff_vals", "distribution"])

cate_profile

,order_number,status,productline,product_code,customer_name,phone,address,city,country,last_name,first_name,deal_size
num_diff_vals,298,6,7,109,89,88,89,71,19,76,72,3
distribution,"{10106: 18, 10165: 18, 10168: 18, 10316: 18, 1...","{'Shipped': 2541, 'Cancelled': 60, 'Resolved':...","{'Classic Cars': 949, 'Vintage Cars': 579, 'Mo...","{'S18_3232': 51, 'S32_2509': 28, 'S50_1392': 2...","{'Euro Shopping Channel': 259, 'Mini Gifts Dis...","{'(91) 555 94 44': 259, '4155551450': 180, '03...","{'C/ Moralzarzal, 86': 259, '5677 Strong St.':...","{'Madrid': 304, 'San Rafael': 180, 'NYC': 152,...","{'USA': 928, 'Spain': 342, 'France': 314, 'Aus...","{'Freyre': 259, 'Nelson': 204, 'Young': 115, '...","{'Diego': 259, 'Valarie': 257, 'Sue': 84, 'Mic...","{'Medium': 1349, 'Small': 1246, 'Large': 152}"

### C√≥ gi√° tr·ªã n√†o b·∫•t th∆∞·ªùng kh√¥ng?
- Kh√¥ng c√≥ c·ªôt n√†o c√≥ gi√° tr·ªã b·∫•t th∆∞·ªùng.

Ti·∫øp ƒë√≥, ta d√πng describe() ƒë·ªÉ kh√°m ph√° s√¢u h∆°n v·ªÅ d·ªØ li·ªáu.

In [13]:
sales_df.describe(include='object')

,order_number,status,productline,product_code,customer_name,phone,address,city,postalcode,country,last_name,first_name,deal_size
count,2747,2747,2747,2747,2747,2747,2747,2747,2747,2747,2747,2747,2747
unique,298,6,7,109,89,88,89,71,73,19,76,72,3
top,10106,Shipped,Classic Cars,S18_3232,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,USA,Freyre,Diego,Medium
freq,18,2541,949,51,259,259,259,304,259,928,259,259,1349

## NUMERIC COLUMNS

In [14]:
numeric_cols=['order_number','quantity_ordered','price_per_unit','orderline_number','sales','days_since_lastorder','retail_price']
numeric_col_profile = sales_df[numeric_cols].describe()[1:].round(1)
numeric_col_profile

,quantity_ordered,price_per_unit,orderline_number,sales,days_since_lastorder,retail_price
mean,35.1,101.1,6.5,3553.0,1757.1,100.7
std,9.8,42.0,4.2,1839.0,819.3,40.1
min,6.0,26.9,1.0,482.1,42.0,33.0
25%,27.0,68.7,3.0,2204.4,1077.0,68.0
50%,35.0,95.6,6.0,3184.8,1761.0,99.0
75%,43.0,127.1,9.0,4503.1,2436.5,124.0
max,97.0,252.9,18.0,14082.8,3562.0,214.0

Sau khi ho√†n th√†nh vi·ªác ti·ªÅn x·ª≠ l√≠ d·ªØ li·ªáu, ta l∆∞u d·ªØ li·ªáu ƒë√£ x·ª≠ l√Ω v√†o t·ªáp csv m·ªõi ƒë·ªÉ sang b∆∞·ªõc ti·∫øp theo

In [15]:
sales_df.to_csv('./../data/Processed.csv')