<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Final Project - Programming for Data Science
    <div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
    @ FIT-HCMUS, VNU-HCM ðŸ“Œ
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 3.1 - Exploratory data analysis
</div>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
processed_df = pd.read_csv('./../data/Processed.csv', index_col=0)

In [3]:
processed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_number          2747 non-null   int64
 1   quantity_ordered      2747 non-null   int64
 2   price_per_unit        2747 non-null   float64
 3   orderline_number      2747 non-null   int64
 4   sales                 2747 non-null   float64
 5   order_date            2747 non-null   object
 6   days_since_lastorder  2747 non-null   int64
 7   status                2747 non-null   object
 8   productline           2747 non-null   object
 9   retail_price          2747 non-null   int64
 10  product_code          2747 non-null   object
 11  customer_name         2747 non-null   object
 12  phone                 2747 non-null   object
 13  address               2747 non-null   object
 14  city                  2747 non-null   object
 15  postalcode            2747 non-null   object
 16  country               2747 non-null   object
 17  last_name             2747 non-null   object
 18  first_name            2747 non-null   object
 19  deal_size             2747 non-null   object
dtypes: float64(2), int64(5), object(13)
memory usage: 450.7+ KB

In [12]:
processed_df.loc[processed_df['product_code'] == 'S10_1949', ['price_per_unit', 'retail_price']]

    price_per_unit  retail_price
24          207.87           214
25          248.59           214
26          192.87           214
27          199.30           214
28          244.30           214
29          231.44           214
30          235.73           214
31          233.59           214
32          173.58           214
33          192.87           214
34          173.58           214
35          222.87           214
36          180.01           214
37          240.02           214
38          233.59           214
39          235.73           214
40          192.87           214
41          216.44           214
42          242.16           214
43          150.01           214
44          131.49           214
45          177.87           214
46          110.12           214
47          100.69           214
48          180.01           214
49          240.02           214

In [24]:
processed_df.groupby(['product_code'])['retail_price'].nunique().all()!=0

True